.wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.linksList{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.linksList a{
    text-decoration: none;
    color:green;
}

.linksList a:hover{
    text-decoration: none;
    color: red;
    transition: 0.5s;
}

.teamList{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    width: 1200px;
}

.card
{
    padding:30px;
    margin: 30px;
    border: 2px solid black;
    background-color: white;
}

.card-body img{
    width:400px;
    height:300px;
}

.d-flex{
    display: flex;
    align-items: center;
}

body{
    background-image: url(https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
    background-size: cover;
}

.pageHeader{
    width: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.486);
    padding: 30px;
}
